/* Color variables */
:root {
  --white-color: #fff;
  --bg-color: #fff;
  --gray-color: #ccc;
  --main-yellow: #fff900;
  --main-orange: #ff6c00;
  --main-pink: #c850c0;
  --main-purple: #4158d8;
  --main-gray: #262626;
}
/* Changing background color */
body {
  background: var(--main-gray);
}

html {
  scroll-behavior: smooth;
}

/* Dark Mode */

#dark-mode {
  display: none;
}

.background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: var(--main-gray);
  z-index: -1;
  transition: 0.5s;
}

.container-dark-mode {
  background: var(--main-gray);
  color: var(--main-gray);
  transition: background 0.5s, color 0.5s;
}

#dark-mode:checked ~ .container-dark-mode {
  background: var(--main-gray);
  color: var(--main-gray);
}

#dark-mode:checked ~ .nav-item .nav-link {
  color: #ff6c00;
}

.nut-sack, .hero {
  background-image: linear-gradient(-135deg, var(--main-pink), var(--main-purple));
}

/* #dark-mode:checked ~ .container-dark-mode .nut-sack {
  animation: animate1 1s infinite linear;
}

#dark-mode:checked ~ .container-dark-mode .hero {
  animation: animate2 1s infinite linear;
} */


#dark-mode:checked ~ .container-dark-mode .nut-sack {
  background-image: linear-gradient(-135deg, var(--main-yellow), var(--main-orange));
}

#dark-mode:checked ~ .container-dark-mode .hero {
  background-image: linear-gradient(-135deg, var(--main-yellow), var(--main-orange));
}

.container-dark-mode {
color: #fff;
}

#dark-mode:checked ~ .container-dark-mode {
color: var(--main-gray);
}

.light-dark {
  position: fixed;
  top: 80px;
  right: 20px;
  width: 96px;
  height: 36px;
  display: block;
  background: var(--main-gray);
  border-radius: 100px;
  cursor: pointer;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.3), inset 0px -5px 15px rgba(255, 255, 255, 0.3);
  z-index: 5;
}

.light-dark:after {
  content: '';
  position: absolute;
  height: 32px;
  width: 32px;
  background: linear-gradient(-135deg, var(--main-pink), var(--main-purple));
  border-radius: 100px;
  top: 2px;
  left: 2px;
  transition: 0.5s;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

#dark-mode:checked ~ .light-dark:after {
  left: 94px;
  transform: translate(-100%);
  background: linear-gradient(-135deg, var(--main-yellow), var(--main-orange));
}

#dark-mode:checked ~ .wrapper {
  background: linear-gradient(-135deg, var(--main-yellow), var(--main-orange));
}

#dark-mode:checked ~ .menu-btn {
  background: linear-gradient(-135deg, var(--main-yellow), var(--main-orange));
}

#dark-mode:checked ~ #active:checked ~ .menu-btn {
  background: var(--main-gray);
  color: var(--main-orange);    
}

#dark-mode:checked ~ .wrapper ul li a:hover {
  color: var(--main-orange)
}

#dark-mode:checked ~ .light-dark {
  background: #242424;
}

#dark-mode:checked + .light-dark + .background {
  background: #242424; 
}

#dark-mode:checked ~ .background {
  background: #242424;
}

/* Changing link color */
.nav-item .nav-link {
  color: var(--white-color);
}

/* Hero section background image */
.hero {
  height: 100vh;
/*    background-image: url("../images/home-bg.jpg"); */
  background-color: #262626;
  background-repeat: no-repeat;
  background-position: 60% 0%;
  background-size: cover;
  background-attachment: fixed;
}
#skills i {
  height: 100px;
  width: 100px;
}
#portfolio img {
  height: 300px;
  object-fit: cover;
}
#about .img,
#about img,
.hire-text h2 {
  position: relative;
}
/* Timeline background line */
#about .img::before {
  content: "";
  top: 100%;
  left: 49.5%;
  width: 4px;
  position: absolute;
  height: calc(100% + 20px);
  background: var(--white-color);
  z-index: 0;
}
#about img,
#about .hire-text h2 {
  width: 140px;
}
#about .hire-text h2 {
  height: 140px;
}
.social-icons a {
  width: 40px;
  height: 40px;
}
footer .social-icons a {
  width: 30px;
  height: 30px;
}
#cv img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}
/* Contact section background image */
#contact {
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
 /* background-image: url("https://as2.ftcdn.net/v2/jpg/05/62/00/63/1000_F_562006361_m7TWdjygckwKBT7UG8IpE4MiIdLF7zA9.jpg"); */
}
@media screen and (max-width: 990px) {
  #skills .card {
    width: calc(100% / 2 - 10px) !important;
  }
}
@media screen and (max-width: 668px) {
  #skills .card,
  #portfolio .card-wrapper {
    width: 100% !important;
  }
 #about .hire-text h2 {
   height: 70px;
   width: 70px;
 }
}

.white {
  color: #fff;
  background-color: #fff;
}

.black {
color: var(--main-gray) !important;
}

input#dark-mode:not(:checked) ~ .black {
color: var(--main-gray) !important;
}

#dark-mode:checked ~ .black {
color: var(--main-gray) !important;
}

.benis {
  color: var(--main-gray) !important;
}

.img-shift {
  transform: translate(-50%, -50%);
}

.replacement1 {
margin-right: 0.5rem;
margin-left: 0.5rem;
display: flex;
align-items: center;
justify-content: center;
text-decoration: none;
border-radius: 50%;
}

.replacement2 {
position: relative;
width: 100%;
min-height: 1px;
padding-right: 15px;
padding-left: 15px;
display: flex;
flex: 0 0 16.666667%;
max-width: 16.666667%;
justify-content: center;
}

.text-center {
text-align: center;
}